.input {
    display: flex;
    flex-direction: column;
    width: 400px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.input-error {
    border: 1px solid #ff0000;
    background-color: #ffecec;
}

p {
    margin-top: 5px;
}
.form-error {
    border: 1px solid #ff0000;
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px;
}